# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env
.ipynb_checkpoints/

# ===== Data (DO NOT COMMIT) =====
data/
!data/.gitkeep
!src/data/
src/interpretability/shap_outputs/
# ===== Experiment outputs =====
runs/
artifacts/
outputs/
mlruns/

# ===== OS =====
.DS_Store
Thumbs.db
